$primary: #3292a6;
$color: #222;
$font-family: 'Patua One';

@import url('https://fonts.googleapis.com/css?family=Patua+One'); /* this font is for nav and hero-image words*/
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One'); /* this font is for boxes*/

body {
  margin-top: 105px;
  line-height: 2;
  color: $color;
}

.navbar {
  box-shadow: 2px 2px 5px $primary;
  opacity: 0.9;
  background: #fff;
  font-family: $font-family;

  .nav-item {
    font-size: 1.3rem;
    padding-right: 1.4rem;
  }
}

#showcase {
  font-family: $font-family;
}

#newsletter {
  min-height: 100px;
}

#boxes {
  p {
    line-height: 1.7;
    font-family: 'Hammersmith One';
  }
}

#about {
  .container {
    width: 60%;
    margin: auto;
    border-bottom: 1px #ddd solid;
  }
}

#cyberthreat {
  img {
    margin-top: -50px;
  }

  .card:hover {
    background: $primary;
    color: white;
  }

  .fab {
    color: white;
  }
}

// Media Queries

@media (max-width: 768px) {
  #showcase {
    min-height: 500px;

    h1 {
      font-size: 4rem;
    }
  }

  .mb-resp {
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  #showcase {
    min-height: 500px;

    h1 {
      font-size: 3.5rem;
    }
    blockquote {
      font-size: 1.2rem;
    }
  }

  nav {
    .img-fluid {
      width: 35px;
      height: 40px;
    }
    h3 {
      font-size: 1.5rem;
    }
  }
}
